<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Mi prueba </title>
    <!--jquery-->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <!--ajax-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>


    <script type="text/javascript" charset="utf-8">
        // Configura a la coneccion en una sola
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';


            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            // Esta conectando el html con el websocket con sus paremetros
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);



            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            // Esto es lo que pasa cuando se unen nuevos usuarios,
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            // Aqui esta la funcion que recibe datos del servidor!!!! MUY IMPORTANTE
            socket.on('my_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.



            // Midiendo la velocidad de conecion entre ambos lados servidor-cliente
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                // obtiene el tiempo de ahora
                start_time = (new Date).getTime();
                // Lo transmite al servidor --- TRAMISTIENDO DATOS AL SERVIDOR
                socket.emit('my_ping');
            }, 1000);


            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed
            // Aqui esta el receptor para ping -----------------------
            socket.on('my_pong', function() {
                // latencia = nueva fecha - el star_time de arriva
                var latency = (new Date).getTime() - start_time;
                // agrega latencia a tiempo
                ping_pong_times.push(latency);
                // aqui hace que la variable de arriva guarde las ultimas 30 muestras
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                // hace un for loop y suma todos los tiempos
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                // redondea a --- 10 * sum / la longitud de la lista de tiempos no tengo idea de porque multimplica y divide --
                // seguro tendra que ver con los tiempos obtenidos y su formato
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            // para la funcion echo
            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });

            // para la funcion broadcast !!!!!!!!!!
            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });
            // para funcion join
            $('form#join').submit(function(event) {
                socket.emit('join', {room: $('#join_room').val()});
                return false;
            });
            // para la funcion leave
            $('form#leave').submit(function(event) {
                socket.emit('leave', {room: $('#leave_room').val()});
                return false;
            });
            // para la funcion send a room
            $('form#send_room').submit(function(event) {
                socket.emit('my_room_event', {room: $('#room_name').val(), data: $('#room_data').val()});
                return false;
            });
            // para la funcion cerrar
            $('form#close').submit(function(event) {
                socket.emit('close_room', {room: $('#close_room').val()});
                return false;
            });
            // para desconectar
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Mi prueba</h1>
    <!--despliega el modo llamando a una variable desde flask o eso creo-->
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <!--Reportando la calidad de la conexion  ms sera quien obtenga los datos de pingpong -->
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <h2>Send:</h2>
    <!--Aqui estan los botones -->
    <!--Echo-->
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <!--Broadcast-->
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <!--Join Room-->
    <form id="join" method="POST" action='#'>
        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
        <input type="submit" value="Join Room">
    </form>
    <!--Leave Room-->
    <form id="leave" method="POST" action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
        <input type="submit" value="Leave Room">
    </form>
    <!--Send to room-->
    <form id="send_room" method="POST" action='#'>
        <input type="text" name="room_name" id="room_name" placeholder="Room Name">
        <input type="text" name="room_data" id="room_data" placeholder="Message">
        <input type="submit" value="Send to Room">
    </form>
    <!--Close room-->
    <form id="close" method="POST" action="#">
        <input type="text" name="close_room" id="close_room" placeholder="Room Name">
        <input type="submit" value="Close Room">
    </form>
    <!--Disconnect-->
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <h2>Receive:</h2>
    <!--Aqui va conectando los log -->
    <div id="log"></div>
</body>
</html>
